<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">RIEGO</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>




<ion-list>
  <ion-item>
    <ion-label>RÚCULA</ion-label>
    <ion-toggle slot="end"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>ZANAHORIA</ion-label>
    <ion-toggle slot="end" [checked]="true"></ion-toggle>
  </ion-item>
  
  <ion-list>
    <ion-item>
      <ion-label>LECHUGA</ion-label>
      <ion-toggle slot="end"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>CALABAZA</ion-label>
      <ion-toggle slot="end" [checked]="true"></ion-toggle>
    </ion-item>

    <ion-list>
      <ion-item>
        <ion-label>TOMATE</ion-label>
        <ion-toggle slot="end"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>PEPINO</ion-label>
        <ion-toggle slot="end" [checked]="true"></ion-toggle>
      </ion-item>

      <ion-list>
        <ion-item>
          <ion-label>REMOLACHA</ion-label>
          <ion-toggle slot="end"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label>APIO</ion-label>
          <ion-toggle slot="end" [checked]="true"></ion-toggle>
        </ion-item>

        <ion-list>
          <ion-item>
            <ion-label>CEBOLLA</ion-label>
            <ion-toggle slot="end"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>BRÓCOLI</ion-label>
            <ion-toggle slot="end" [checked]="true"></ion-toggle>
          </ion-item>

          <ion-list>
            <ion-item>
              <ion-label>MAÍZ</ion-label>
              <ion-toggle slot="end"></ion-toggle>
            </ion-item>
            <ion-item>
              <ion-label>TOMATE CHERRY</ion-label>
              <ion-toggle slot="end" [checked]="true"></ion-toggle>
            </ion-item>

            <ion-list>
              <ion-item>
                <ion-label>AJO</ion-label>
                <ion-toggle slot="end"></ion-toggle>
              </ion-item>
              <ion-item>
                <ion-label>PUERRO</ion-label>
                <ion-toggle slot="end" [checked]="true"></ion-toggle>
              </ion-item>

              <ion-list>
                <ion-item>
                  <ion-label>ZAPALLO</ion-label>
                  <ion-toggle slot="end"></ion-toggle>
                </ion-item>
                <ion-item>
                  <ion-label>REPOLLO</ion-label>
                  <ion-toggle slot="end" [checked]="true"></ion-toggle>
                </ion-item>