<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     INICIO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">INICIO</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="INICIO"></app-explore-container>
</ion-content>


<ion-item>
  <ion-checkbox slot="start"></ion-checkbox>
  <ion-label>Quiero recibir artículos</ion-label>
</ion-item>



<ion-card>
  <img alt="Silhouette of mountains" src="https://www.iberdrola.com/documents/20125/39916/Huertos_746x419_Huerto.jpg/37eeb4fa-af04-1711-b3d7-9e749f5a1e84?t=1626678081336" />
  <ion-card-header>
    <ion-card-title>HUERTO</ion-card-title>
    <ion-card-subtitle>7 consejos importantes</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Haz click en la imagen para poder leer más sobre este artículo.
  </ion-card-content>
</ion-card>


<ion-card>
  <img alt="Silhouette of mountains" src="https://www.vadequimica.com/media/Fertilizantes.jpg" />
  <ion-card-header>
    <ion-card-title>FERTILIZANTES</ion-card-title>
    <ion-card-subtitle>Cómo prepararlos en casa</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Haz click en la imagen para poder leer más sobre este artículo.
  </ion-card-content>
</ion-card>


